{% extends "AppProyecto/base.html" %}

{% block contenido %}
<div class="container" style="display: flex;">

    <a href="{% url 'Tazas' %}"><img src="https://i.pinimg.com/564x/39/48/19/3948195303bd8fb032b86c1621794171.jpg" alt="" height="350px" style="margin-right:20px;"></a>
    <a href="{% url 'Funkos' %}"><img src="https://i.pinimg.com/564x/32/c8/22/32c8228cd084ba0b138c8630e1f0991e.jpg" alt="" height="350px" style="margin-right:20px;"></a>
    <a href="{% url 'Remeras' %}"><img src="https://i.pinimg.com/564x/b5/7e/24/b57e24663946b2abd1a354fd0abda833.jpg" alt="" height="350px"></a>

</div>
{% endblock %}