{% extends "AppProyecto/base.html" %}

{% block contenido %}

<br>
<br>

<div class="container text-center">
    <h1>Funkos</h1>
</div>

<br>

<form action="{% url 'ResultadoBusquedaFunko' %}" method="GET" class="g-3" style="margin-left: 520px;"> 

    <input type="text" name="nombre" id="nombre"  placeholder="Buscar por nombre...">

  <input type="submit" value="Buscar" class="btn btn-success mb-3">

</form>


<div class="container text-center">
    <div class="row">
            {% for funko in funkos %}
            <div class="col-sm-4 align-items-center">
                <div class="card-body">
                <img src="{{funko.imagenFunko}}" width="180px">
                <p class="text-uppercase font-weight-bold text-secondary text-center" style="font-size: 12px; font-weight: 700;letter-spacing: 2px; margin-top: 5px;">{{funko.categoria}}</p>
                <h4>{{funko.nombre}}</h4>
                <p class="text-success font-weight-bold" style="font-weight:bolder;">${{funko.precio}}</p>
                <a href="{% url 'FunkoDetalle' funko.id %}"><i class="bi bi-eye"></i></a>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}