{% extends "AppProyecto/base.html" %}

{% block contenido %}

<div class="container">
    <h1 class="text-center text-dark">
        Acerca de Mi
    </h1>                                                                                                                                                       
    <br>
    <div class="row g-4">                                                                                                                               
        <div class="col">
         <div class="">
              <div class="text-center">
                 <p>Hola! Mi nombre es Ramiro y me desempeño en el area de Business Intelligence. Realice este curso para poder adquirir conocimientos en el lenguaje de programación Python. Gracias por visitar esta página!</p>
              </div>
         </div>
     </div>
    </div>
 </div>
 <br>
 <br>
 <br>
 <br>

{% endblock %}